<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

<h1>Registration</h1>

<form class="signup-form" action="/signup" method="post">
    <fieldset>
        <label>
            <input type="text" placeholder="Логин" name="login" required>
        </label>

        <label>
            <input type="password" placeholder="Пароль" name="password" required>
        </label>

        <label>
            <input type="text" placeholder="Имя" name="firstName" required>
        </label>

        <label>
            <input type="text" placeholder="Фамилия" name="lastName" required>
        </label>

        <label>
            <input type="number" placeholder="Возраст" name="age" required>
        </label>

        <label>
            <input type="text" placeholder="Пол" name="gender" required>
        </label>

        <label>
            <input type="text" placeholder="Интересы" name="interests" required>
        </label>

        <label>
            <input type="text" placeholder="Город" name="city" required>
        </label>

        <button class="signup-form__button" type="submit">Зарегистрироваться</button>
    </fieldset>
</form>

<script th:src="@{/script.js}"></script>
</body>
</html>